
.tittle
{
    color: rgb(163, 5, 142);
}


.list
{ color:  indigo;}

body {
    background-color: rgb(29, 29, 15);
}

.list-item-extra{
    color:initial;
}




























.tittle{
    color: red;
}