/*  *{
    box-sizing: border-box;
    margin: 0;
}

.header{
    background-color: olivedrab;
    height: 100px;
    margin-bottom: 20px;
}

.tiitle{
    margin-top: 50px;
}


.box-1,
.box-2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgb(22, 47, 47);
    width: 300px;
    height: 300px;
}

.box-2{
    margin-top: 40px;
} */

*{
    box box-sizing: border-box;
}

body{
    background-color: #333;
    color: beige;
}

.text{
    background-color: lightcoral;
    display: inline;
    width: 200px;

}

.link{
    background-color: lightpink;
    display: inline-block;
    width: 100px;
    margin-top: 50px;
}

.border,
.outline{
    background-color: #666;
    width: 100px;
    padding: 10px 20px;
    margin: 50px 100px;
}

.border{
    border: 2px solid lightcoral;
}

.outline{
outline: 3px inset lightcoral;
outline-offset: -13px;
border:5px solid lightgreen
}