 *{ 
     box-sizing: border-box;
 }
 
 
 body {
    background-color: hsl(0, 0%, 93%);
    text-align: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.main-tittle {
    display: block;
    font-size: 2.5rem;
}

.subtitle {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    position: relative;
    width: 1200px;
    height: 550px;
    margin: 5em auto;
}

.card {
    position: absolute;
    width: 350px;
    height: 250px;
    padding: 0 2em;
    font-size: 0.9rem;
    border-radius: 10px;
    box-shadow: 5px 10px 10px hsl(240 25% 50% / 0.2); 
    background-color: hsl(0, 0%, 93%);
}

.card__tittle,
.card__text {
    text-align: left;
}

.card__icon {
    position: absolute;
    right: 2em;
    bottom: 2em;
}

.card--cyan{
    border-top: 5px solid hsl(180, 62%, 55%);
}
.card--red{
    border-top: 5px solid hsl(0, 72%, 43%);
}
.card--orange{
    border-top: 5px solid hsl(42, 100%, 53%);
}
.card--blue{
    border-top: 5px solid hsla(243, 87%, 34%, 0.52);
}

.card--left,
.card--right {
    top: 150px;
}

.card--top,
.card--bottom {
    left: 425px;
}

.card--left {
    left: 0;
}

.card--top {
    top: 0;
}

.card--right {
    right: 0;
}

.card--bottom {
    bottom: 0;
}

.text-light { color: hsl(229, 6%, 66%);
}

.text-thin {
    font-weight: 200;
}

.text-bold {
    font-weight: 600;
}