*{
    box-sizing: border-box;
}


.todo {
    background-color: rgb(230, 77, 21);
    
    align-items: center;
    font-size: 1.6rem;
    padding: 20px;
    color: white;
    


}


.flex-container{
    margin-top: 20px;
    display: flex;
    height: auto;
    flex-flow: wrap;
    justify-content: space-between;
    align-content:space-between;
    background-color: rgb(3, 250, 98);
    padding: 10px;
    border: 2px solid black;
}

.flex-container div{
    background-color: blanchedalmond;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
}