/*div.contenedor {
    background-color: blue;
    border: 1px solid green;
    max-width: 500px;
}

p.negativo {
    background-color: red;
    margin: -15px;
}

p.cero {
    background-color: red;
    margin: 0px;
}

p.trenta {
    background-color: red;
    margin: 30px;
}

p.senta {
    background-color: red;
    margin: 60px;
}

img.max {max-height: 200px ;}
img.min {min-width: 700px;}*/





