/*{
    padding: 0px;
margin: 0px; }


.contact-form_1

{
    font-size: 20em;
    background-color: rgb(134, 37, 37);
    font-size: 2em;
    font-family: geor
    line-height: 10;
    font-weight: 1;
}

.contact-form{

}

.contact-form_h2{
  font-size: 500pt;
}
*/


{{
    2
      font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    3
    }
    

}













